<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit', [:edit, @brand, @product] %> |
<%= link_to 'Back', [@brand]%>
